body{
    font-family: "Geist Mono", monospace;
    background-color: black;
    color: blue;
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background:paleturquoise;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;qq


}